<section id="about">
  <div class="about-box">
    <h2>Welcome to Matcharap!</h2>
    <p>Where matcha meets creativity! We are passionate about bringing the vibrant, rich flavors of matcha into every bite and sip. From matcha lattes and cakes to cookies, ice cream, and more we specialize in crafting delicious matcha-infused foods and drinks that cater to every taste and occasion.</p>
  </div>

  <div class="about-box">
    <h3>Mission</h3>
    <p>To become the ultimate destination for matcha lovers, offering delicious and authentic matcha treats that enhance well-being and delight the senses.</p>
  </div>

  <div class="about-box">
    <h3>Vision</h3>
    <p>To craft high-quality, matcha-infused foods and drinks that celebrate the rich, earthy flavor of matcha while promoting a mindful, healthy lifestyle.</p>
  </div>
</section>