.utility-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d7216;  /* matcha green */
    padding: 0.5rem 1rem;
    color: #f3f8ee;
  
    .utils {
      display: flex;
      gap: 1rem;
      font-size: 1.2rem;
  
      i {
        cursor: pointer;
        transition: color 0.3s;
        color: #fff;

        &:hover {
          color: #a3c585;
        }
      }
    }
  
    input[type="text"] {
      flex-grow: 1;
      margin: 0 1rem;
      padding: 0.4rem 0.75rem;
      border-radius: 1rem;
      border: none;
      font-size: 1rem;
  
      &:focus {
        outline: none;
        box-shadow: 0 0 5px #a3c585;
      }
    }
  
    .menu-icon {
      font-size: 1.5rem;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #a3c585;
      }
    }
  }
  